.link {
  display: inline-block;
  color: #f137a6;
  padding: 30px;
  font: 700;
  color: #2a363b;
}

.activelink {
  color: #e84a5f;
}

.linkText {
  font-family: "Comfortaa", cursive;
  font-size: 18px;
  color: #f137a6;
  margin-right: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}
